# Configurações do Servidor
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173

# Base de Dados (substitua com a sua string de conexão segura)
MONGO_URI=mongodb+srv://ecobissau:<SUA_SENHA_SEGURA>@ecobissaudb.f6ujbwh.mongodb.net/ecobissau?retryWrites=true&w=majority&appName=ecobissaudb

# Segurança
JWT_SECRET=UMA_CHAVE_SECRETA_MUITO_LONGA_E_DIFICIL_DE_ADIVINHAR
JWT_EXPIRES_IN=30d

# Cloudinary (para upload de ficheiros)
CLOUDINARY_CLOUD_NAME=SEU_CLOUD_NAME
CLOUDINARY_API_KEY=SUA_API_KEY
CLOUDINARY_API_SECRET=SEU_API_SECRET

# Provedor de Pagamento (Ex: Flutterwave)
FLUTTERWAVE_SECRET_KEY=SUA_CHAVE_SECRETA_FLUTTERWAVE
FLUTTERWAVE_WEBHOOK_HASH=SEU_HASH_SECRETO_DO_WEBHOOK